body {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Login Form */
#loginform {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

/* Input Fields */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #141414;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    background-color: #28a745;
    color: white;
}

/* Forgot Password */
.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(252, 252, 52);
    color: black;
    text-align: center;
    padding: 5px;
    width: 100%;
}
